wp-config.php
.htaccess
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/backup*/
wp-content/wflogs/
wp-content/wfcache/
wp-content/wp-cache-config.php
node_modules/
.vscode/
Thumbs.db
*.log